header img {
  width: 15rem;
}
/* a tag stuff works right because nav a is more specific than a */
nav a {
  text-decoration: line-through;
}
a {
  text-decoration: none;
}
p { color: magenta; }
p { color: orange;}
/* p tags are orange because orange is more recent */
